In [61]:
import pandas as pd

In [13]:
di = {'a': [10, 20], 'b': [20, 20], 'c': [30, 40], 'd':[40, 50]}

In [52]:
di

{'a': 200, 'b': 300, 'c': 500, 'd': 202, 'e': 100, 'f': 600}

In [20]:
df = pd.DataFrame(di)
df

    a   b   c   d
0  10  20  30  40
1  20  20  40  50

In [21]:
df.to_dict()

{'a': {0: 10, 1: 20},
 'b': {0: 20, 1: 20},
 'c': {0: 30, 1: 40},
 'd': {0: 40, 1: 50}}

In [22]:
di = {'a': [10, 20], 'b': [20, 20], 'c': [30, 40], 'd':[40, 50]}

In [23]:
di

{'a': [10, 20], 'b': [20, 20], 'c': [30, 40], 'd': [40, 50]}

In [24]:
del di['b']

In [25]:
di

{'a': [10, 20], 'c': [30, 40], 'd': [40, 50]}

In [28]:
di['e'] = [50, 100]

In [29]:
di

{'a': [10, 20], 'c': [30, 40], 'd': [40, 50], 'e': [50, 100]}

In [30]:
di.update({'c': [300, 500]})

In [31]:
di

{'a': [10, 20], 'c': [300, 500], 'd': [40, 50], 'e': [50, 100]}

In [32]:
di.update({'f': [300, 500]})

In [33]:
di

{'a': [10, 20],
 'c': [300, 500],
 'd': [40, 50],
 'e': [50, 100],
 'f': [300, 500]}

In [35]:
pd.DataFrame(di)

    a    c   d    e    f
0  10  300  40   50  300
1  20  500  50  100  500

In [36]:
di = {'a':200, 'b':300, 'c':500}

In [37]:
di

{'a': 200, 'b': 300, 'c': 500}

In [38]:
di2 = {'d':202, 'e':100, 'f':600}

In [40]:
di2

{'d': 202, 'e': 100, 'f': 600}

In [43]:
di.update(di2)

In [44]:
di

{'a': 200, 'b': 300, 'c': 500, 'd': 202, 'e': 100, 'f': 600}

In [45]:
'a' in di

True

In [46]:
'z' in di

False

In [54]:
di = {'a': [10, 20], 'b': [20, 20], 'c': [30, 40], 'd':[40, 50]}

In [55]:
di

{'a': [10, 20], 'b': [20, 20], 'c': [30, 40], 'd': [40, 50]}

In [57]:
di['a'][1]

20

In [85]:
product_sales = {'DATA': ['01/01', '02/01', '03/01', '04/01', '05/01'],
                 'produtos':['a', 'b', 'c', 'd', 'e'],
                 'sales': [1000.0, 2000.0, 3000.0, 4000.0, 4000.0]}

In [70]:
product_sales

{'DATA': ['01/01', '02/01', '03/01', '04/01', '05/01'],
 'produtos': ['a', 'b', 'c', 'd', 'e'],
 'sales': [1000, 2000, 3000, 4000, 4000]}

In [71]:
df = pd.DataFrame(product_sales)

In [72]:
df

    DATA produtos  sales
0  01/01        a   1000
1  02/01        b   2000
2  03/01        c   3000
3  04/01        d   4000
4  05/01        e   4000

In [76]:
for i in range(5):
    if i%2 == 0:
        print(df['DATA'][i])

01/01
03/01
05/01

In [78]:
df['DATA'].to_dict()

{0: '01/01', 1: '02/01', 2: '03/01', 3: '04/01', 4: '05/01'}

In [95]:
product_sales = {'DATA': ['01/01', '02/01', '03/01', '04/01', '05/01'],
                 'produtos':['a', 'b', 'c', 'd', 'e'],
                 'sales': [1000.0, 2000.0, 3000.0, 4000.0, 4000.0]}

In [96]:
product_sales

{'DATA': ['01/01', '02/01', '03/01', '04/01', '05/01'],
 'produtos': ['a', 'b', 'c', 'd', 'e'],
 'sales': [1000.0, 2000.0, 3000.0, 4000.0, 4000.0]}

In [97]:
product_sales.items()

dict_items([('DATA', ['01/01', '02/01', '03/01', '04/01', '05/01']), ('produtos', ['a', 'b', 'c', 'd', 'e']), ('sales', [1000.0, 2000.0, 3000.0, 4000.0, 4000.0])])

In [100]:
for key, values in product_sales.items():
    print(key, values[0] * .1)

TypeError: can't multiply sequence by non-int of type 'float'

In [92]:
sales = {'India': 100.0, 'China': 500.0, 'USA': 800.0}

In [93]:
sales

{'India': 100.0, 'China': 500.0, 'USA': 800.0}

In [99]:
sales.items()

dict_items([('India', 100.0), ('China', 500.0), ('USA', 800.0)])

In [94]:
for key, values in sales.items():
    print(key, values * 0.1)

India 10.0
China 50.0
USA 80.0